<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>CSS Classes and Styles with Vuejs</title>
  </head>
  <body>
    <div id="app">
      <div class="demo" @click="attachRed = !attachRed" :class="divClasses"></div>
      <div class="demo" :class="{red: attachRed}"></div>
      <div class="demo" :class="[color, {red: attachRed}]"></div>
      <input type="text" v-model="color" />
      <hr />
      <div class="demo" :style="{backgroundColor: color}"></div>
      <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
      <input type="text" v-model="width" />
    </div>

    <script src="/vue.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
